<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lista de pessoas</title>
</head>
<body>
    <h1>Detalhes de pessoa</h1>
    <p>Nome: {{pessoa.nome}}</p>

    <a href="/pessoas"><button> <- Voltar</button></a>
</body>
</html>